{package}

import com.sh.game.world.Session;
import com.sh.world.AbstractHandler;

{import}

public class {className} extends AbstractHandler {

	@Override
	protected void execute() {

		try {
			Session session = (Session) this.getParam();
			{messageName} msg = ({messageName}) this.getMessage();
			
		} catch (Exception e) {
			LOGGER.error("", e);
		}

	}
}
